
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-group {
  background: 'blue';
  text-align: center;
  
}

html { 
  background: url(https://c.wallhere.com/photos/fd/99/nature_landscape_wind_sea_monochrome_mountains_waves_clouds-119368.jpg!d) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  margin-left: 20px;
  margin-bottom: 20px;
  
}
.bt {
  justify-content: center;
}

.JournalsContainer, .JournalForm, .home, .Login, .Signup { 
  background: url(https://c.wallhere.com/photos/fd/99/nature_landscape_wind_sea_monochrome_mountains_waves_clouds-119368.jpg!d) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}